/* ==========================================================================
    Style
   ========================================================================== */

body {font-family: 'Noto Sans Japanese', serif; font-weight: 200; 
                padding-top: 70px;}

::selection {
  background: #99ccff;
}
::-moz-selection {
  background: #99ccff;
}


 
.breadcrumb {display:none;}
img 		{display:none;}
.container-fluid {display:none;}

a:hover,button {
	cursor:pointer!important;}


a, a:active, a:focus, 
button, button:focus, button:active, 
.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
    outline: none;
    outline: 0;
}

a:hover { text-transform:none;}

input::-moz-focus-inner {
    border: 0;
}


.carousel .slide .imgslide {overflow: hidden; }
.carousel .slide .imgslide img { width: 95%; padding-left:5%}



@media screen and (min-width: 667px) and (max-width: 1300px){	
.carousel .slide .imgslide img { width: 85%; padding-left:15%}	
}
	
	

@media screen and (max-width: 667px) {

	
.slide {
	width:34%;
	margin-right: -5%;
	}
}


	
/* Gallery Info */

.galler-img-title {
	font-size:13px;
	font-weight:indeherit;
	font-family:inherit;
	color:inherit;}

.modal-info-dialog {
	width:500px;
	margin:25% auto;}



.modal-content {
	box-shadow:0px 5px 15px rgba(0, 0, 0, 0.2);}

.modal-info{
	display: none;
    overflow: hidden;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 5000;
    outline: 0px none;
	
}

.modal-info h1 {
	font-family:"Noto Sans Japanese",serif;
	font-weight:500;
	font-size:18px;}
	
.modal-info .modal-header {
	border-bottom:none;
	padding:0;}

.modal-info-content {
	position: relative;
	background-color: #FFF;
	border: 0.5px solid rgba(0, 0, 0, 0.05);
	border-radius: 6px;
	box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.05);
	background-clip: padding-box;
	outline: 0px none;
	padding:20px 20px 30px 20px;
}

.modal-info-content .modal-body {
	font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding:0px;}

.modal-backdrop{
	background-color:#FFFFFF;}
.modal-backdrop.in{
	opacity:0.8}
	
.close-info {
	float: right;
	font-family:"Lato",sans-serif;
	font-size: 25px;
	font-weight: 100;
	line-height: 1;
	border: none;
	margin:-30px -15px;
	background: none;}

@media screen and (max-width: 667px) {
.modal-info-dialog {
	width:90%;}
}


.isotope:after {
  content: '';
  display: block;
  clear: both;
}



.gutter-sizer { width: 0px; }

.grid-item--width2 { width: 300px; }
.grid-item--height2 { height: 300px; }



.prev-next-wrap{
	margin-bottom:10px;
	z-index:999;}

#back-btn {
	display:block;
	float:left;
	font-family: 'Quicksand', sans-serif;
	font-size:18px;
	margin-top:-2.3%;}	
	
#back-btn a {
	color:inherit;
	text-decoration:none;
	}
	
#back-btn a:hover {
	color:#6fba2c;}
	
#next-btn {
	display:block;
	float:right;
	font-family: 'Quicksand', sans-serif;
	font-size:18px;
	margin-top:-2.3%;}	
	
#next-btn a {
	color:inherit;
	text-decoration:none;}
	
#next-btn a:hover {
	color:#6fba2c;}
	
.work-info {
	margin-top:-19px;}
	

.hidden {
	visibility:hidden;}
	
.load {
	visibility:visible;}
	

/* map */	

#map-place img {display:block;}
#map-place h6 { font-size: 14px; font-weight:bold; }

/* General Style for Pages */

h1.univ {
	margin-left:12px;
	font-family:'noto sans japanese',sans-serif;
	font-weight:lighter;
	font-size:25px;}
	
p.univ {
	margin-left:12px;}

@media screen and (max-width: 480px) {
	
h1.univ{
	margin-left:0px;
}
p.univ {
	margin-left:0px;}
}	
	



@media screen and (max-width: 990px) {
	

	
.table {margin-left:1%;}
	
.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;}

.table th {
	width:95px;
	font-weight:500;
	color:grey;}
	
.btn-contact {
	display:block;
	color:#6fba2c;
	background-color:white;
	width:200px;
	padding:10px;
	border:2px solid;
	border-radius:5px;
	text-align:center;
	font-weight:400;}
	
.btn-contact:hover {
	color:inherit;}

span.glyphicon-leaf {
  font-size: 2.9em;
  color: #5cb85c;
  display: block;
  margin: auto;
  margin-bottom: 7px;
}
/* Pricing Color Green*/

.p-green big,
.p-green h3 {
  color: #5cb85c;
}
/* Button Color Green*/

.p-green button {
  background: #5cb85c;
}
/* Glyphicon Yellow */

span.glyphicon-send {
  font-size: 2.9em;
  color: #f0ad4e;
  display: block;
  margin: auto;
  margin-bottom: 7px;
}
/* Button Color Yellow */

.p-yel button {
  background: #f0ad4e;
}

span.glyphicon-globe {
  font-size: 2.9em;
  color: #428bca;
  display: block;
  margin: auto;
  margin-bottom: 7px;
}
/* Button Color blue */

.p-red button {
  background: #428bca;
}
/* Pricing Color blue */

.p-red big,
.p-red h3 {
  color: #428bca;
}
/* Glyphicon Blue */

span.glyphicon-stats {
  font-size: 2.9em;
  color: #d9534f;
  display: block;
  margin: auto;
  margin-bottom: 7px;
}
/* Button Color Blue */

.p-blue button {
  background: #d9534f;
}
/* Glyphicon blue */

.p-blue big,
.p-blue h3 {
  color: #d9534f;
}
/* --------- END PRICING TABLES BOOTSTRAP CSS ----------*/

.btn-outline {
  color: inherit;
  transition: all .5s;
  padding-left: 40px;
  padding-right: 40px;
}

.btn-primary.btn-outline {
  color: #428bca;
}

.btn-success.btn-outline {
  color: #5cb85c;
}

.btn-info.btn-outline {
  color: #5bc0de;
}

.btn-warning.btn-outline {
  color: #f0ad4e;
}

.btn-danger.btn-outline {
  color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
  color: #fff;
}

.btn-outline.btn-lg {
  background-color: transparent;
  padding-left: 50px;
  padding-right: 50px
}



@media screen and (max-width:580px){
	
/*--------追加のナビの指定-----------------*/
	.nav-item-pc{
		display: none;
	}
	.nav-list-pc{
		display: none;
	}

	}
	
@media screen and (max-width: 480px) {
	

	

/* Modal */

.modal-title {
	margin-left:1%;
	font-family:'noto sans japanese',sans-serif;
	font-weight:lighter;
	font-size:25px;}

.form-control {
	margin-top:20px;
	margin-bottom:20px;}
	
.btn-modal {
	display:block;
	color:white;
	background-color:#6fba2c;
	width:200px;
	padding:10px;
	border:2px solid;
	border-radius:5px;
	text-align:center;
	font-weight:400;
	margin-bottom:20px;}

	
.btn-modal:hover {
	background-color:#8BD44A;}
	

/* 404 */



/*	
.blur {
	filter:blur(3px) grayscale(50%);
    -webkit-filter: blur(3px) grayscale(50%);
} */

/* facebook */

.fb-wrp {
	text-align: right;
	margin-top: -30px;}

@media screen and (max-width: 480px) {

.carouselWrapper {
	margin-bottom:20px;}	
	
}

/* Ads */


#ad-wrap {
	margin:0;
    width:150px;
    height:130px;
    display:block;
    position:fixed;
    float:right;
    bottom:10px;
    right:20px;
	overflow:hidden;
	z-index:9999;
}

@media screen and (max-width: 480px) {
	#ad-wrap img{ width:90%; height:90%}
	#ad-wrap {
    width:120px;
    height:115px;}
}
#ad-wrap:hover {
	-webkit-animation-name: tada; 
    animation-name: tada; 
	-webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; }
	
@-webkit-keyframes tada { 
    0% {-webkit-transform: scale(1);} 
    10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);} 
    30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);} 
    40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);} 
    100% {-webkit-transform: scale(1) rotate(0);} 
} 
@keyframes tada { 
    0% {transform: scale(1);} 
    10%, 20% {transform: scale(0.9) rotate(-3deg);} 
    30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);} 
    40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);} 
    100% {transform: scale(1) rotate(0);} 
} 
    
.floating{
    -webkit-animation-name: Floatingx;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-name: Floating;    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;

}

@-webkit-keyframes Floatingx{
    from {-webkit-transform:translate(0, 0px);}
    65% {-webkit-transform:translate(0, 15px);}
    to {-webkit-transform: translate(0, -0px);    }    
}
    
@-moz-keyframes Floating{
    from {-moz-transform:translate(0, 0px);}
    65% {-moz-transform:translate(0, 15px);}
    to {-moz-transform: translate(0, -0px);}    
}

.animated { 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

@-webkit-keyframes bounceInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(10px); 
    } 
    60% { 
        opacity: 1; 
        -webkit-transform: translateY(-30px); 
    } 
    80% { 
        -webkit-transform: translateY(10px); 
    } 
    100% { 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes bounceInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(10px); 
    } 
    60% { 
        opacity: 1; 
        transform: translateY(-30px); 
    } 
    80% { 
        transform: translateY(10px); 
    } 
    100% { 
        transform: translateY(0); 
    } 
} 

.bounceInUp { 
	animation-delay:1.5s;
	-webkit-animation-delay: 1.5s; 
    -webkit-animation-name: bounceInUp; 
    animation-name: bounceInUp; 
}


.fb-like {}